html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	height: 100%; 

}

body {
	margin: 0;
	padding: 0;
	height: 100%; 
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
}

img {
	display:inline-block !important;
	max-width: 100%;
	height: auto;
}


.wrapper {
	min-height: 100%; 
}
.header{
	background: url(../images/rio.png) #e1eaed;
    background-size: cover;
	
}

.container{
	width: 1150px;
	display: table;
	margin: 0 auto;
}

.logo{
		
}

.logo a{
	width:146px !important;
	text-shadow:0px 0px 1px #314d2e;
	letter-spacing:1px;
	line-height:20px;
	font-weight:800;
	margin:16px 0 19px;
	padding:0 36px;
	color:#6aa318;	
	display:block;
}


.travel{
	position:relative;
	text-shadow:0px 0px 1px #1c3c39;
	margin:5px;
	color:#2d7447;
}

.travel:before{
	left:-36px;
	position:absolute;
	content:"";
	background:#232e41;
	width:25px;
	height:5px;
}

.travel:after{
	right:-36px;
	position:absolute;
	content:"";
	background:#232e41;
	width:25px;
	height:5px;
}

header{
	background:#152134;
}

.nav ul{
	float:right;
}

.nav ul li {
    float: left;
}

.nav ul li a {
	font-weight:800;
    text-decoration: none;
    padding: 32px 15px;
    font-size: 11px;
    color: #fff;
    display: block;
}

.toggle-menu{
	z-index:10;
	position: fixed;
    top: 40px;
    right: 50px;
    display: none;
}

.nav .toggle-menu button .fa {
    font-size: 18px;
}



.title_text1, .title_text2{
	margin: 150px 0px 150px 0px;
	
}

.title_text1{
	line-height:40px;
	font-weight:800;
	font-size:30px;
	color:#fff;
	
}

.title_text2{
	line-height:40px;
	text-align:right;
	color:#a2b2ca;
	font-weight:800;
	font-size:12px;
	
}
.title_text3{
	padding-bottom:10px;
	border-bottom:4px solid #f6f7fb;

}



.slider_pics li{
	margin-bottom:40px;
	display:inline-block;
	text-align:center;
}



.slider_pics .pics1, .slider_pics .pics2{
	display:none;
}


.bx-pager{
	
	margin-bottom:20px;
}
.bx-pager-item{
	margin-right:18px;
}

 .bx-pager-item:nth-child(5){
	display:none !important;
}
.bx-pager-item:nth-child(6){
	display:none !important;
}


.bx-wrapper{
	display:inline-block;
}

.main_content{

	background:#e1eaed;
	padding-bottom:25px;
}

.showcases{
	display:inline-block;
}


.showcases span{
	
	margin:16px 0px 16px 0px;
	word-spacing:4px;
	line-height:18px;
	float:left;
	font-weight:800;
	font-size:11px;
	text-align:left;
	display:inline-block;
}


.showcases div{
	display:inline-block;
	text-align:center;
	background:#fff;
	padding:10px;
	border:27px solid #e1eaed;
	border-left:none;
	border-top:none;
}

.title_tours{
	background:transparent !important;
	padding: 45px 0 !important;
	border:none !important;
}

.title_tours h2{
	display:block;
	font-size:16px;
	font-weight:800;
	color:#182438;
	text-align:left;
	
}


.aside-item{
	float:right!important;
	background:#fff;
	margin-top:17px;
	padding:26px 22px 25px 17px;
	
}

.showcases a{
	display:inline-block;
}



.showcases .text2, .text2+.text3{
	color:#92a9b0;
}
.showcases .text2{
	
	margin:0px 0px 16px 0px;
	
}

.text2+.text3{
	margin:0px 0px 16px 0px;
	float:right;
	
}

.news div:nth-child(5), .news_tourist div:nth-child(4){
	margin-bottom:17px;
}



.news_title h2{
	display:block;
	padding-bottom:50px;
	font-size:16px;
	font-weight:800;
	
}

.new_text{
	margin-bottom:35px;
}

.news a, .news_tourist a{
	display:inline-block;
	font-size:11px;
	font-weight:800;
	color:#494a4b;
	line-height:18px;
	text-align:left;
	margin-bottom:20px;

}

.news a:hover {
	
	text-decoration:underline;	
}

.news_tourist a:hover {
	
	text-decoration:underline;
	

}

.news span, .news_tourist span{
	display:block;
	font-size:11px;
	font-weight:800;
	color:#aeb3ba;
	
}

.news span a, .news_tourist span a{
	
	font-size:11px;
	font-weight:800;
	color:#8c929d;
	margin-bottom:0;
	
}

.all_news, .tour_news{
	float:right;
	display:inline-block;
	
}

.blogs{
	background:#e1eaed;
}

.blogs .container{
	background:#fff;
}

.blog {
	
	display:inline-block;
	width:380px;
	margin-bottom:33px;
	padding-left:20px;
	
}


.blog a{
	display:inline-block;
	color:#111929;
	font-size:11px;
}

.blog_title h2{
	font-weight:800;
	padding:11px 0 34px 20px;
}

.blog img{
	float:left;
}

.blog span{
	padding:0 14px;
	
}

.blog_text{
	text-align:left;
	line-height:18px;
	word-spacing:2px;
	font-weight:800;
	display:inline-block;
	float:left;
	margin-bottom:27px;
}

.blog_text:hover{
	text-decoration:underline;
}

.blog_date{
	color:#717475;
	float:left;
}

.about{
	background:#e1eaed;
	padding-bottom:100px;
}

.about_text{
	font-size:11px;
	color:#111929;
	line-height:20px;
	padding:0 20px 100px;
	
}

.about_title h2{
	font-size:16px;
	font-weight:800;
	color:#182438;
	padding: 33px 0 26px 0px;
}

form {
	width:306px;
	background:#fff;
	padding:19px 23px 23px 21px;
	float:right;
	clear: both;
}

.form_title{
	float:right;
}

.form_title h2{
	
	font-weight:600;
	text-align:right;
	padding:35px 21px 18px;
	word-spacing:3px;
	letter-spacing:1px;
}

input{
	font-size:11px;
	font-weight:600;
	color:#b8bcc9;
	background:#f6f7fb;
	border:none;
	outline:none;
	width:264px;
	padding:14px 0 14px 12px;
	margin-bottom:12px;
}

.submit{
	background:#249d10;
	cursor:pointer;
	font-size:13px;
	color:#fff;
	text-align:center;
	padding:14px 0 14px 0px;
	margin-top:10px;
	
}

.blog_footer{
	background:#152134;
	
}